---
layout: default
title: A Liberal Art Student's Guide to Web Design
---

<div class="jumbotron">
    <h1>A Liberal Art Student's Guide to Web Design</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 centered" role="main">

            <!--DESCRIPTION-->
            <div class="row">
                <div class="page-header">
                    <h1>description</h1>
                    <p>{%markdown description.md %}</p>
                </div>
            </div>

            <div class="row">
                <div class="page-header">
                    <h1>schedule</h1>
                    <p><em>very fluid, depending on how we progress through the material</em></p>
                </div>
            </div>
            <ul class="list-group">
                {% for w in site.categories['week'] reversed %}
                    <li class="list-group-item">
                        {% if w.readingpending %}
                            <button class="btn btn-danger btn-xs pull-right">readling list pending</button>
                        {% endif %}
                        <h4 class="list-group-item-heading">{{ w.title }}</h4>
                        <p class="list-group-item-text">Week {{w.week}} - {{w.date | date_to_string}}</p>
                        {% if w.hw != null %}
                            <h5 class="list-group-item-heading"><br>Readings</h5>
                            {% for r in w.readings %}
                                {% if r.link %}
                                    <p class="list-group-item-text"><a href="{{r.link}}">{{r.title}}</a></p>
                                {% else %}
                                    <p class="list-group-item-text">{{r.title}}</p>
                                {% endif %}
                            {% endfor %}
                            <h5 class="list-group-item-heading">HW</h5>
                            <p class="list-group-item-text">{{w.hw}}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
