---
layout: default
title: Course Resources
bodyclass: resources
---

<div class="jumbotron">
    <h1>Resources </h1>
</div>

<div class="page-header">
    <h1>New links will be added regularly.</h1>
</div>

<dl>
    {% for r in site.categories['resource'] reversed %}
        <dt><a href="{{r.link}}" target="_blank">{{r.title}}</a></dt>
        <dd>{{r.desc}}</dd>
    {% endfor %}
</dl>





