<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Normalize CSS to reset -->
        <link rel="stylesheet" href="css/normalize.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        {% if page.moot %}
            <link rel="stylesheet" type="text/css" href="https://cdn.moot.it/1/moot.css" />
        {% endif %}

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript">
          //TypeKit Asyc Embed Code
          (function() {
            var config = {
              kitId: 'faj5ovn',
              scriptTimeout: 3000
            };
            var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
          })();
        </script>
        
    </head>
    <body class="{{page.bodyclass}}">
        <div class="container">

            <!-- Static navbar -->
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://miguelbermudez.github.io/LibArtGuideWeb">Home</a></li>
                        <li><a href="resources.html">Resources</a></li>
                        <li><a href="forum.html">Forum</a></li>
                        <li><a href="https://github.com/miguelbermudez/LibArtGuideWeb">GitHub Page</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>

              {{ content }}

            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        {% if page.moot %}
            <script src="https://cdn.moot.it/1/moot.min.js"></script>
        {% endif %}

        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
